header {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid rgb(180, 180, 180);
  background-image: none;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 60%;
  height: 20px;
  border-radius: 5px;
  outline: none;
  padding-left: 1%;
}
